html {
	height: 100%;
}
body{
	padding:0;
	margin:0;
	height: 100%;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

section {
	width:100%;
	margin:-3em 0 0 0;
	padding:0;
	overflow: hidden;
	height: 100%;
}

.csstransforms3d section {
	-moz-perspective: 1000px;
	-webkit-perspective: 1000px;
}

div#unicorn {
	width: 100%;
	height: 100%;
	/*transition: margin 1s ease;
	-webkit-transition: margin 1s ease;
	-moz-transition: margin 1s ease;
	-o-transition: margin 1s ease;
	-ms-transition: margin 1s ease;*/
}

.csstransforms3d div#unicorn {
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s ease;
}

div.unicorn1 {
	margin-left: 0%;
}

div.unicorn2 {
	margin-left: -100%;
}

div.unicorn3 {
	margin-left: -200%;
}

div.unicorn4 {
	margin-left: -300%;
}

div.unicorn5 {
	margin-left: -400%;
}

#unicorn > div {
	width: 100%;
	float:left;
	height: 100%;
}

#unicorn > div:nth-child(1) {
	background-color:red;
}

#unicorn > div:nth-child(2) {
	background-color:blue;
}

#unicorn > div:nth-child(3) {
	background-color:green;
}

#unicorn > div:nth-child(4) {
	background-color:yellow;
}

#unicorn > div:nth-child(5) {
	background-color:purple;
}

#unicorn > div > h1 {
	text-align: center;
}

div#unicornController {
	position: relative;
	width: 80%;
	padding: 0 10%;
	height: 3em;
	background-color:rgba(30,30,30,0.8);
	margin: 0 0 -3em 0;
	z-index: 10;
}

div#unicornController a {
	float:left;
	width: 20%;
	height: 2em;
	text-align:center;
	color: rgba(255,255,255,0.8);
	font-size: 1.5em;
	text-decoration: none;
	line-height: 2em;
}
